<div class="form">
  <form #form="ngForm" class="row g-3" (ngSubmit)="submitOrder(customer)">
    <div class="col-12">
      <label for="name" class="form-label">Full name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        minlength="4"
        placeholder="Max Mustermann"
        [(ngModel)]="customer.name"
        required
      />
    </div>
    <div class="col-12">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        name="address"
        placeholder="1234 Main St, Apt.123"
        minlength="5"
        [(ngModel)]="customer.address"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        name="inputCity"
        [(ngModel)]="customer.inputCity"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select
        name="inputState"
        class="form-select"
        [(ngModel)]="customer.inputState"
        required
      >
        <option selected>Choose</option>
        <option>NY</option>
        <option>NJ</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input
        type="text"
        class="form-control"
        name="inputZip"
        [(ngModel)]="customer.inputZip"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="cardNumber" class="form-label">Card number</label>
      <input
        type="text"
        class="form-control"
        minlength="15"
        maxlength="16"
        name="cardNumber"
        [(ngModel)]="customer.cardNumber"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="expDate" class="form-label">Expires</label>
      <input
        type="text"
        class="form-control"
        name="expDate"
        placeholder="mm/yyyy"
        [(ngModel)]="customer.expDate"
        required
      />
    </div>
    <div class="col-md-2">
      <label for="cvv" class="form-label">CVV</label>
      <input
        type="text"
        class="form-control"
        name="cvv"
        [(ngModel)]="customer.cvv"
      />
    </div>
    <div class="col-12">
      <input
        type="submit"
        [disabled]="form.invalid"
        value="Complete Order"
        class="btn btn-primary"
      />
    </div>
  </form>
</div>
