.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h4 {
  padding: 10px 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

select {
  margin-bottom: 20px;
  text-align: center;
  width: 108px;
}
