.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(181, 181, 230);
  padding: 1.5rem 3rem;
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  font-weight: 800;
}
