.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "details form"
    "details form"
    "total total";
}
.order-details {
  grid-area: details;
}

.empty {
  width: 400px;
  height: 400px;
  text-align: center;
  position: relative;
}

.empty p {
  font-size: 2rem;
  color: gray;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 2rem;
}

.order-items {
  display: flex;
  flex-direction: column;
}

.single-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  align-items: center;
}

.image {
  justify-self: center;
}

.image > img {
  width: 150px;
  border-radius: 15px;
}

.inputs label {
  padding-right: 1rem;
}
.inputs input {
  padding-left: 2rem;
  width: 40%;
}

.form {
  grid-area: form;
  padding: 1rem 3rem;
}

.total {
  grid-area: total;
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 0 8rem;
}
